.buk-grid {
  display: grid;
  gap: 1rem .5rem;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 1020px) {
  .buk-grid--columns-15 {
    grid-template-columns: repeat(15, 1fr) !important;
  }

  .buk-grid--columns-15 .buk-col,
  .buk-grid--columns-15 .buk-col-15 {
    grid-column: span 15 / span 15;
  }
}

.buk-col,
.buk-col-4 {
  grid-column: span 4 / span 4;
}

[class*="buk-col"] {
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.buk-col-1 {
  grid-column: span 1 / span 1;
}

.buk-col-2 {
  grid-column: span 2 / span 2;
}

.buk-col-3 {
  grid-column: span 3 / span 3;
}

.buk-col-st-1 {
  grid-column-start: 1;
}

.buk-col-st-2 {
  grid-column-start: 2;
}

.buk-col-st-3 {
  grid-column-start: 3;
}

.buk-col-st-4 {
  grid-column-start: 4;
}

.buk-col-ed-2 {
  grid-column-end: 2;
}

.buk-col-ed-3 {
  grid-column-end: 3;
}

.buk-col-ed-4 {
  grid-column-end: 4;
}

.buk-col-ed-5 {
  grid-column-end: 5;
}

.buk-row-1 {
  grid-row: span 1 / span 1;
}

.buk-row-2 {
  grid-row: span 2 / span 2;
}

.buk-row-3 {
  grid-row: span 3 / span 3;
}

.buk-row-4 {
  grid-row: span 4 / span 4;
}

.buk-row-st-1 {
  grid-row-start: 1;
}

.buk-row-st-2 {
  grid-row-start: 2;
}

.buk-row-st-3 {
  grid-row-start: 3;
}

.buk-row-st-4 {
  grid-row-start: 4;
}


@media only screen and (min-width: 767px) {

  .buk-grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  .buk-col,
  .buk-col-md-12,
  .buk-col-lg-12 {
    grid-column: span 12 / span 12;
  }

  .buk-col-md-1 {
    grid-column: span 1 / span 1;
  }

  .buk-col-md-2 {
    grid-column: span 2 / span 2;
  }

  .buk-col-md-3 {
    grid-column: span 3 / span 3;
  }

  .buk-col-md-4 {
    grid-column: span 4 / span 4;
  }

  .buk-col-md-5 {
    grid-column: span 5 / span 5;
  }

  .buk-col-md-6 {
    grid-column: span 6 / span 6;
  }

  .buk-col-md-7 {
    grid-column: span 7 / span 7;
  }

  .buk-col-md-8 {
    grid-column: span 8 / span 8;
  }

  .buk-col-md-9 {
    grid-column: span 9 / span 9;
  }

  .buk-col-md-10 {
    grid-column: span 10 / span 10;
  }

  .buk-col-md-11 {
    grid-column: span 11 / span 11;
  }

  .buk-col-st-md-1 {
    grid-column-start: 1;
  }

  .buk-col-st-md-2 {
    grid-column-start: 2;
  }

  .buk-col-st-md-3 {
    grid-column-start: 3;
  }

  .buk-col-st-md-4 {
    grid-column-start: 4;
  }

  .buk-col-st-md-5 {
    grid-column-start: 5;
  }

  .buk-col-st-md-6 {
    grid-column-start: 6;
  }

  .buk-col-ed-md-7 {
    grid-column-end: 7;
  }

  .buk-col-ed-md-8 {
    grid-column-end: 8;
  }

  .buk-col-ed-md-9 {
    grid-column-end: 9;
  }

  .buk-col-ed-md-10 {
    grid-column-end: 10;
  }

  .buk-col-ed-md-11 {
    grid-column-end: 11;
  }

  .buk-col-ed-md-12 {
    grid-column-end: 12;
  }

  .buk-col-ed-md-13 {
    grid-column-end: 13;
  }

  .buk-row-md-1 {
    grid-row: span 1 / span 1;
  }

  .buk-row-md-2 {
    grid-row: span 2 / span 2;
  }

  .buk-row-md-3 {
    grid-row: span 3 / span 3;
  }

  .buk-row-md-4 {
    grid-row: span 4 / span 4;
  }

  .buk-row-st-md-1 {
    grid-row-start: 1;
  }

  .buk-row-st-md-2 {
    grid-row-start: 2;
  }

  .buk-row-st-md-3 {
    grid-row-start: 3;
  }

  .buk-row-st-md-4 {
    grid-row-start: 4;
  }

}

@media only screen and (min-width: 1020px) {
  .buk-grid {
    gap: 1rem;
  }

  .buk-lg-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
  }

  .buk-col-lg-1 {
    grid-column: span 1 / span 1;
  }

  .buk-col-lg-2 {
    grid-column: span 2 / span 2;
  }

  .buk-col-lg-3 {
    grid-column: span 3 / span 3;
  }

  .buk-col-lg-4 {
    grid-column: span 4 / span 4;
  }

  .buk-col-lg-5 {
    grid-column: span 5 / span 5;
  }

  .buk-col-lg-6 {
    grid-column: span 6 / span 6;
  }

  .buk-col-lg-7 {
    grid-column: span 7 / span 7;
  }

  .buk-col-lg-8 {
    grid-column: span 8 / span 8;
  }

  .buk-col-lg-9 {
    grid-column: span 9 / span 9;
  }

  .buk-col-lg-10 {
    grid-column: span 10 / span 10;
  }

  .buk-col-lg-11 {
    grid-column: span 11 / span 11;
  }

  .buk-col-lg-12 {
    grid-column: span 12 / span 12;
  }

  .buk-col-lg-13 {
    grid-column: span 13 / span 13;
  }

  .buk-col-st-lg-1 {
    grid-column-start: 1;
  }

  .buk-col-st-lg-2 {
    grid-column-start: 2;
  }

  .buk-col-st-lg-3 {
    grid-column-start: 3;
  }

  .buk-col-st-lg-4 {
    grid-column-start: 4;
  }

  .buk-col-st-lg-5 {
    grid-column-start: 5;
  }

  .buk-col-st-lg-6 {
    grid-column-start: 6;
  }

  .buk-col-st-lg-7 {
    grid-column-start: 7;
  }

  .buk-col-ed-lg-7 {
    grid-column-end: 7;
  }

  .buk-col-ed-lg-8 {
    grid-column-end: 8;
  }

  .buk-col-ed-lg-9 {
    grid-column-end: 9;
  }

  .buk-col-ed-lg-10 {
    grid-column-end: 10;
  }

  .buk-col-ed-lg-11 {
    grid-column-end: 11;
  }

  .buk-col-ed-lg-12 {
    grid-column-end: 12;
  }

  .buk-col-ed-lg-13 {
    grid-column-end: 13;
  }

  .buk-row-lg-1 {
    grid-row: span 1 / span 1;
  }

  .buk-row-lg-2 {
    grid-row: span 2 / span 2;
  }

  .buk-row-lg-3 {
    grid-row: span 3 / span 3;
  }

  .buk-row-lg-4 {
    grid-row: span 4 / span 4;
  }

  .buk-row-st-lg-1 {
    grid-row-start: 1;
  }

  .buk-row-st-lg-2 {
    grid-row-start: 2;
  }

  .buk-row-st-lg-3 {
    grid-row-start: 3;
  }

  .buk-row-st-lg-4 {
    grid-row-start: 4;
  }

  .buk-row-ed-lg-1 {
    grid-row-end: span 1;
  }

  .buk-row-ed-lg-2 {
    grid-row-end: span 2;
  }

  .buk-row-ed-lg-3 {
    grid-row-end: span 3;
  }

  .buk-row-ed-lg-4 {
    grid-row-end: span 4;
  }

}